body {
  font-family: Arial, sans-serif;
  margin: 50px;
  background-color: #dbe4ff;
}

h1,
h2 {
  color: #222;
}

form {
  margin-bottom: 30px;
}

input[type="text"],
input[type="url"] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #38d9a9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #099268;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  /* text-decoration: underline; */
}

li a + a {
  margin-left: 10px;
  font-weight: normal;
  color: #ff4d4d;
}

li a + a:hover {
  color: #cc0000;
}
